body{
	background-color: #F7F4D7;
}

.jumbotron{
	background-color: #401316;
}

h1, .informacion{
	color: #F7F4D7;
}

.container, a{
	color: #401316;

}

.row > div {
	padding: 10px;
	background: #ddd;
	border: 1px salid #fff;
	text-align: center;
}

.row{
	margin: 40px auto;
	background-color: #401316;
}

li {
    float: left;
}

li a, {
    display: inline-block;
    color: #F7F4D7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover {
    background-color: #401316;
    color: #F7F4D7;
}

li.dropdown {
    display: inline-block;
}


.dropdown-content a:hover {
	background-color: #401316
}


