body{
	background-color: #F7F4D7;
}

.jumbotron{
	background-color: #401316;
}

h1, .informacion{
	color: #F7F4D7;
}

.container, a{
	color: #401316;

}

li {
    float: left;
}

li a, {
    display: inline-block;
    color: #F7F4D7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover {
    background-color: #401316;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #401316;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #401316;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
	background-color: #401316
}

.dropdown:hover .dropdown-content {
    display: block;
 }


