body{
	background-color: #F7F4D7;
}

.jumbotron{
	background-color: #401316;
	font-family: 'Indie Flower', cursive;

}


h1 {
	color: #F7F4D7;
	font-size: 50px

}
.informacion{
	color: #F7F4D7;
	font-size: 17px;
	font-family: 'Indie Flower', cursive;
}

.container, a{
	color: #401316;

}

.row > div {
	padding: 10px;
	border: 1px salid #fff;
	text-align: center;
	color: #F7F4D7;
	font-family: 'Indie Flower', cursive;
}

.row {
	margin: 40px auto;
	background-color: #091F1B;
}

.tipodeacce{
	background-color: #401316;
	color: #F7F4D7;

}

li {
    float: left;
}

li a, {
    display: inline-block;
    color: #F7F4D7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}

li a:hover, .dropdown:hover {
    background-color: #401316;
    color: #F7F4D7;

}

li.dropdown {
    display: inline-block;
}


.dropdown-content a:hover {
	background-color: #401316
}

.minimenu{
	z-index: 1000;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


